.d-flex.d-flex.justify-content-center.align-items-center.h-100
  .d-flex.d-flex.justify-content-center.align-items-center.shadow-lg.w-50.h-50.rounded.p-4
    = render 'form',
             model: @repository,
             model_field: :github_id,
             collection: @repository_full_names,
             label: 'Github',
             value_method: :id,
             label_method: :full_name
